<template>
    <div>
        <!--date-->
        <div class="form-group">
            <label>Дата</label>
            <input type="date" name="date" v-model="date" class="form-control" min="2013-01-01"
                   max="2100-01-01">
        </div>


        <div class="form-group">
            <label>Товар</label>
            <select class="form-control" name="product" v-model="product"
                    @change="fuelCostMethod" @keyup="fuelCostMethod" required>
                <option :value="key" v-for="(value, key) in refProduct">
                    {{value}}
                </option>
            </select>
        </div>

        <div class="form-group" v-if="product == 2">
            <label>Номер топливной карты</label>
            <select class="form-control" name="fuel_card" v-model="fuelCard"
                    @change="fuelCostMethod"  @keyup="fuelCostMethod">
                <option :value="obj.id" v-for="obj in cards">
                    {{obj.card}}
                </option>
            </select>
        </div>

        <div class="form-group" v-if="product == 1">
            <label> Вид топлива/бензина</label>
            <select class="form-control" name="fuel_kind" v-model="fuelKind"
                    @change="fuelCostMethod"  @keyup="fuelCostMethod" required>
                <option :value="key" v-for="(value, key) in refFuelKind">
                    {{value}}
                </option>
            </select>
        </div>

        <div class="form-group" v-if="product == 2">
            <label> Вид топлива/бензина</label>

            <input class="form-control" v-model="refFuelKind[fuelKindCalc]" readonly>
            <input type="hidden" class="form-control" name="fuel_kind" v-bind:value="fuelKindCalc">
        </div>

        <div class="form-group">
            <label>Кол-во(литры):</label>
            <input class="form-control" type="number" name="fuel_amount" v-model="volumeGas" min="1"
                   @change="fuelCostMethod" @keyup="fuelCostMethod" required/>
        </div>

        <div class="form-group">
            <label>Цена за 1 литр топлива:</label>
            <input class="form-control" type="number" name="fuel_price" v-model="fuelPrice"
                   @change="fuelCostMethodByPrice" @keyup="fuelCostMethodByPrice"  step="0.01"/>
        </div>

        <div class="form-group">
            <label>Стоимость заказа:</label>
            <input class="form-control" name="fuel_cost" v-model="fuelCost"/>
        </div>

        <div class="form-group" v-if="product == 1">
            <label>Вид доставки</label>
            <select class="form-control" name="delivery_kind" v-model="deliveryKind">
                <option :value="key" v-for="(value, key) in refDeliveryKind">
                    {{value}}
                </option>
            </select>
        </div>

        <div class="form-group" v-if="product == 1 && deliveryKind == 2">
            <label>Адрес доставки</label>
            <input class="form-control" name="delivery_address" v-model="deliveryAddress">
        </div>

        <div class="form-group">
            <label>Способ оплаты</label>
            <select class="form-control" name="pay_kind" v-model='payKind'>
                <option :value="1">{{refPayKind['1']}}</option>
                <option :value="2">{{refPayKind['2']}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Дополнительная информация</label>
            <textarea class="form-control" name="comment" v-model="comment" rows="3"></textarea>
        </div>

        <!--status-->
        <div class="form-group">
            <label>Статус</label>

            <select class="form-control" name="status" v-model="status">
                <option :value="key" v-for="(value, key) in refStatus">
                    {{value}}
                </option>
            </select>


        </div>

        <input type="hidden" name="id" v-model="id"/>
        <button type="submit" class="btn btn-primary">{{submit}}</button>


    </div>

</template>


<script>
    export default {
        props: ['ref_arr', 'submit_text', 'values', 'cards_arr'],

        mounted: function () {
        },

        data() {
            var cards = JSON.parse(this.cards_arr);
            var refArr = JSON.parse(this.ref_arr);
            var values = JSON.parse(this.values);
console.log(values);

            return {
                submit: this.submit_text,

                cards: cards,

                fuelPrice: values.fuel_price,

                //id
                id: values.user_id,

                //date
                date: values.date,
                //product
                product: values.product,
                //fuel_kind
                fuelKind: values.fuel_kind,
                //fuel_card
                fuelCard: values.user_fuel_card_id,
                //fuel_cost
                // fuelCost7: '8768',
                fuelCost: values.fuel_cost,
                //fuel_amount
                volumeGas: values.fuel_amount,
                //delivery_knd
                deliveryKind: values.delivery_kind,
                //delivery_address
                deliveryAddress: values.delivery_address,
                //comment
                comment: values.comment,
                //pay_kind
                payKind: values.pay_kind,
                //status
                status: values.status,


                refStatus: refArr.refStatus,
                refProduct: refArr.refProduct,
                refDeliveryKind: refArr.refDeliveryKind,
                refPayKind: refArr.refPayKind,
                refFuelKind: refArr.refFuelKind,
            }
        }
        ,

        computed: {

            fuelKindCalc:
                function () {
                    for (var i = 0; i < this.cards.length; i++) {
                        if (this.cards[i].id == this.fuelCard) {
                            return this.cards[i].fuel;
                        }
                    }
                }
        },

        methods: {
            fuelCostMethod: function () {
                //если выбрана карта
                var index;
                //проверить на оптимальность
                for (var i = 0; i < this.cards.length; i++) {
                    if (this.cards[i].id == this.fuelCard) {
                        index = i;
                    }
                }

                //если выбрана топливная карта
                if (this.product == '1' && this.volumeGas && this.fuelKind) {
                    axios
                        .post('/admin/axios-fuel-price-count', {
                            product: this.product,
                            volumeGas: this.volumeGas,
                            fuelKind: this.fuelKind
                        })

                        .then(response => {
                            this.fuelPrice = response.data.fuelPrice;
                            this.fuelCost = response.data.fuelCost;
                        });
                } else if (this.product == '2' && this.volumeGas && this.cards[index]) {
                    axios
                        .post('/admin/axios-fuel-price-count', {
                            product: this.product,
                            volumeGas: this.volumeGas,
                            fuelCard: this.fuelCard,
                        })
                        .then(response => {
                            this.fuelPrice = response.data.fuelPrice;
                            this.fuelCost = response.data.fuelCost;
                        });
                } else {
                    this.fuelPrice = '';
                    this.fuelCost = '';
                }
            },

            fuelCostMethodByPrice: function ()  {

                if (this.volumeGas && this.fuelPrice) {
                    axios
                        .post('/admin/axios-fuel-cost-count-by-price', {
                            volumeGas: this.volumeGas,
                            fuelPrice: this.fuelPrice
                        })

                        .then(response => {
                            this.fuelCost = response.data.fuelCost;
                        });
                } else {

                    this.fuelPrice = '';
                    this.fuelCost = '';

                }
            }
        }
    };

</script>
