<template>
    <form action="realParamUpdate" method="POST">
        <div class="row">
            <!--1.Старые параметры-->
            <div class="col-2 scroll">
                <ul>
                    <li v-for="(value, key) in params">
                        <button type='button' v-on:click="axiosValues(key)">{{value}}</button>
                        <button type='button' v-on:click="addSynonym(key, value)">add</button>
                    </li>
                </ul>
            </div>
            <!--2.Просмотр-->
            <div class="col-2">
                <!--2.1.Просмотр значений старого параметра-->
                <div class="top-part  scroll">
                    <ul>
                        <li v-for="valuePack in values">
                            <button type='button'>{{valuePack.value}}</button>
                            <ul>
                                <li class='inline'>
                                    <button v-on:click="valueUrlsOpen(valuePack.idArr)">All</button>
                                </li>
                                <li class='inline' v-for="(id, index) in valuePack.idArr">
                                    <button type='button' :class="'btn btn-primary old-param-'+index"
                                            v-on:click="idToUrl(id)">
                                        {{index}}
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--2.2.Просмотр значений справочника-->
                <div class="bottom-part scroll">
                    <ul>
                        <li v-for="value in refValues">
                            <button>{{value}}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--3.Параметр-->
            <div class="col-2">
                <!--3.1.Блок параметра-->
                <div class="top-part  scroll">
                    <button v-if="Object.values(realParamChosen).toString()" type="button"
                            class="btn btn-warning btn-sm">
                        {{Object.values(realParamChosen).toString()}}
                    </button>

                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <br>
                    Parameter
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">Title</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Title"
                               aria-describedby="addon-wrapping" name="paramTitle"
                               :value="Object.values(realParamChosen)">
                    </div>
                    <br>

                    <select class="form-control" v-model="paramType" name="paramType">
                        <option :value="key" v-for="(value, key) in param_type">
                            {{value}}
                        </option>
                    </select>

                    <div class="input-group" v-if="paramType !== 4">
                        <div class="input-group-append">
                            <span class="input-group-text">ед. изм.</span>
                        </div>
                        <input type="text" class="form-control" name="realDimension">
                    </div>
                    <ul>
                        <li v-for="(value, key) in synonyms">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button"
                                            v-on:click="deleteSynonym(key)">

                                        <span class="btn-label"><i class="fas fa-trash-alt"></i> </span>
                                    </button>
                                </div>
                                <label class="form-control" aria-describedby="basic-addon1">
                                    {{value}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--3.2.Значения выбранного справочника-->
                <div class="bottom-part scroll">
                    {{refValuesChosen}}
                    <ul>
                        <li v-for="value in refValuesChosen">
                            <button type='button'>{{value}}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--4.Значения параметра-->
            <div class="col-2 scroll">
                {{count}}

                <input type="hidden" name="paramIdArr" :value="Object.keys(synonyms)">
                <input type="hidden" name="refIdChosen" :value="refIdChosen">
                <input type="hidden" name="realParamChosenId" :value="Object.keys(realParamChosen)">

                <ul>
                    <li v-for="(arr, paramName) in synonymsValues">
                        <ul>
                            {{paramName}}
                            <li v-for="(valuePack, index) in arr">

                                <input type="hidden" name="realDimension" :value="valuePack.dimension">
                                <input type="hidden" name="valuesIdArr[]" :value="valuePack.idArr">
                                <input type="hidden" name="paramType" :value="paramType">

                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{valuePack.value}}</span>
                                        <span class="input-group-text">{{valuePack.dimension}}</span>
                                    </div>

                                    <input v-if="paramType !== 4" name="realValue[]" :value="valuePack.real_value"
                                           type="text" class="form-control">

                                    <select v-if="paramType == 4" name="refId[]" class="form-control"
                                            :value="valuePack.real_value">
                                        <option :value="key" v-for="(value, key) in refValuesChosen">
                                            {{value}}
                                        </option>
                                    </select>
                                </div>
                                <ul>
                                    <li class='inline' v-for="(id, index2) in valuePack.idArr">
                                        <div :class="'btn-group chosen-column-' + index2 + '-chosen-row-' + index"
                                             role="group"
                                             aria-label="Basic example">
                                            <button type='button' class="btn btn-primary" v-on:click="idToUrl(id)">
                                                {{index2}}
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--5.Справочники-->
            <div class="col-2 scroll">
                <ul>
                    <li v-for="(value, key) in refs">
                        <button type='button' v-on:click="refsValues(key)">{{value}}</button>
                        <button type='button' v-on:click="addRef(key)">add</button>
                    </li>
                </ul>
            </div>
            <!--6.Реальные параметры-->
            <div class="col-2 scroll">
                <ul>
                    <li v-for="(value, key) in real_params">
                        <button type='button' v-on:click="editRealParam(value, key)">{{value}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: [
            //id:title библиотеки параметров
            'refs',
            //id:title библиотека старых параметров
            'params',
            //id:title библиотека новых параметров
            'real_params',
            //справочник типов параметров id:title
            'param_type'
        ],
        mounted() {
        },
        data: function () {
            return {
                //id выбранного параметра для просмотра
                param_id: null,
                //посматриваемые значения параметра
                values: null,//

                //id выбранного справочника для просмотра
                ref_id: null,
                //просматриваемые значения справочника
                refValues: null,

                //id выбранного справочника прикрепленного
                refIdChosen: null,//
                //выбранные значения справочника
                refValuesChosen: null,//

                //id:title выбранных параметров
                synonyms: {},//
                //пакеты данных со значениями выбранных параметров
                synonymsValues: {},//

                //тип выбранного параметра
                paramType: null,//
                //выбранный параметр из библиотеки новых параметров
                realParamChosen: {}
            }
        },
        computed: {
            count:
                function () {
                    var length = 0;
                    for (var key in this.synonymsValues) {
                        if (this.synonymsValues.hasOwnProperty(key)) {
                            ++length;
                        }
                    }
                    return length;
                },
        },

        methods: {
            //возвращает старые значения параметра для просмотра
            //срабатывает при нажатии на кнопку параметра первой колонке
            axiosValues: function (param_id) {
                if (param_id) {
                    this.param_id = param_id;
                    axios
                        .post('axios-value', {
                            param_id: param_id
                        })
                        .then(response => {
                            this.values = response.data;
                        });
                } else {
                    this.values = null;
                }
            },

            //возвращает значения прикрепленного справочника
            //срабатывает при нажатии кнопки add в пятой колонке
            addRef(refIdChosen) {
                this.refIdChosen = refIdChosen;
                axios
                    .post('ref/axios-value', {
                        ref_id: refIdChosen
                    })
                    .then(response => {
                        this.refValuesChosen = response.data;
                    });
                this.paramType = 4;
            },

            //возвращает просматриваемые значения справочника
            //срабатывает при нажатии кнопки на справочник в пятой колонке
            refsValues: function (ref_id) {
                this.ref_id = ref_id;
                axios
                    .post('ref/axios-value', {
                        ref_id: ref_id
                    })
                    .then(response => {
                        this.refValues = response.data;
                    });
            },


            //добавляет синоним параметров
            //срабатывает при нажатии кнопки add в первой колонке
            addSynonym(key, value) {
                Vue.set(this.synonyms, key, value);

                axios
                    .post('axios-synonyms-values', {
                        synonyms: this.synonyms
                    })
                    .then(response => {
                        this.synonymsValues = response.data;
                    });
            },

            //удаляет синоним параметров
            //срабатывает при нажатии кнопки-урны в третьей колонке
            deleteSynonym(key) {
                Vue.delete(this.synonyms, key);

                axios
                    .post('axios-synonyms-values', {
                        synonyms: this.synonyms
                    })
                    .then(response => {
                        this.synonymsValues = response.data;
                        this.synonymsValues = JSON.parse(this.synonymsValues);
                    });
            },

            //открывает реальный параметр для просмотра или редактирования
            //срабатывает при нажатии кнопки реального параметра в шестой колонке
            editRealParam(value, key) {
                this.realParamChosen = {};
                Vue.set(this.realParamChosen, key, value);

                axios
                    .post('axios-real-param-edit-arr', {
                        id: Object.keys(this.realParamChosen).toString()
                    })
                    .then(response => {
                        this.refIdChosen = response.data.refIdChosen;
                        this.refValuesChosen = response.data.refValuesChosen;
                        this.paramType = response.data.paramType;
                        this.synonyms = response.data.synonyms;
                        this.synonymsValues = response.data.synonymsValues;
                    });
            },

            //открывает страницу на товара в новом окне
            //срабатывает при нажатии на его ссылку во втором или четвертом окне
            idToUrl(id) {
                axios
                    .post('axios-id-to-url', {
                        id: id
                    })
                    .then(function (response) {
                        window.open(response.data);
                    });
            },

            //открывает все страницы товаров, содержащих определенный параметр с определенным значением, в новых окнах
            //срабатывает при нажатии на кнопку all во втором или четвертом окне
            valueUrlsOpen(urlArr) {
                for (let i = 0; i < urlArr.length; i++) {
                    window.open(urlArr[i]);
                }
            }
        }
    };
</script>
